.header {
  position: fixed;
  width: 1536px;
  background-color: black;
  color: #fff;
  font-family: Arial, sans-serif;
  height: 60px;
}

.header_row {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  height: 60px;
  width: 100%;
  /* align-items: center; */
}

.header_burger-btn .menutxt {
  width: 15%;
}

.header_burger-btn {
  height: 60px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  /* width: 30px; */
  height: 60px;
  /* position: relative; */
  cursor: pointer;
}

.burger {
  height: 100%;
  background-color: #fff;
  display: flex;
  -webkit-box-align: center;
  justify-content: center;
  align-items: center;
  -webkit-box-pack: center;
  margin-right: 18px;
}

.header_stryt {
  /* 15 */
  width: 25%;
  -webkit-box-pack: end;
  -webkit-box-align: center;
  justify-content: flex-end;
  display: flex;
  align-items: center;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.7);
}

.header_logo {
  height: 160px;
  margin-left: 265px;
  margin-right: 190px;
  /* 100px */
  width: 15%;
  background-color: #000;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  position: relative;
}

/* .header_logo {
  height: 80px;
  width: 80px;
  background-color: black;
  cursor: pointer;
} */

.location {
  height: 30px;
}

.header_number {
  width: 20%;

  display: flex;
  align-items: center;
  margin-right: 10%;
  -webkit-box-align: center;
  justify-content: flex-start;
}

.phone {
  height: 40px;
}

.header_icons {
  display: flex;
  align-items: center;
}

.insta {
  margin-right: 13px;
}

.scroll-lock {
  overflow: hidden;
}
