.bars {
  width: 100%;
  max-width: 1440px;
  display: flex;
  justify-content: flex-end;
  margin-top: 40px;
  background-color: black;
}

.bars_body {
  display: flex;
  width: 100%;
  max-width: 1440px;
  /* align-items:flex-end; */
}

.bars_text {
  width: 1050px;
  text-align: left;
  padding-top: 30px;
  box-sizing: border-box;
  color: #fff;
}

.bars_title {
  display: flex;
  justify-content: flex-end;

  
  font-size: 24px;
}

.bars_desc {
  text-align: right;
  display: flex;
  padding-top: 20px;
  justify-content: flex-end;
  font-size: 20px;
}

.bars_name {
  width: 100%;
  padding-top: 200px;
  padding-right: 60px;
  padding-left: 60px;
  display: flex;
  align-items: center;
  vertical-align: bottom;
  justify-content:space-between;
  font-size: 20px;
}

/* .rest-name {
  display: flex;
  text-align: center;
  align-items: center;
  font-size: 20px;
  justify-content: space-between;
  vertical-align: bottom;
} */

.bars_img {
  display: flex;
  justify-content: flex-end;
  margin-left: 40px;
}

.californai-bar .blumarine .barum {
  padding-left: 80px;
  align-items: center;
}

.border1 {
  width: 120px;
  position: relative;
  border-bottom: 2px solid white;
}

.border2 {
  width: 155px;
  position: relative;
  border-bottom: 2px solid white;
}

.border3 {
  width: 65px;
  position: relative;
  border-bottom: 2px solid white;
}
