.rooms {
  margin-top: 73px;
  padding-left: 100px;
  padding-right: 100px;
  height: 600px;
}

.rooms_img {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 273px;
  margin-bottom: 50px;
}

.rooms_body img {
  width: 400px;
  height: 273px;
}

.border {
  position: absolute;
  right: 593px;
  width: 350px;
  border-bottom: 3px solid black;
}

.rooms_more {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: large;
  font-size: 24px;
  margin-top: 73px;
  text-decoration: none;
  list-style: none;
}

.rooms_more a {
  color: black;
}
