.map {
  display: flex;
  width: 100%;
  max-width: 1440px;
  align-items:center;
  justify-content: center;
  margin-top: 80px;

}

.map_body {
  display: flex;
  align-items: center;
}

.map_text {
  background-color: black;
  height: 303px;
  width: 300px;
}

.map_title {
  color: white;
  font-size: 24px;
  padding-top: 61px;
  padding-left: 30px;
  padding-bottom: 20px;
}

.map_desc {
  color: white;
  font-size: 16px;
  padding-left: 30px;
  padding-bottom: 20px;
}

.map_number {
  color: white;
  font-size: 16px;
  padding-left: 30px;
  padding-bottom: 20px;
}

.map_adres {
  color: white;
  font-size: 16px;
  padding-left: 30px;
  padding-bottom: 20px;
}

.map_icons img {
  height: 33px;
}

.map_icons {
  padding-left: 30px;
}

.instagram {
  padding-right: 21px;
}
