.inMoscow {
  max-width: 1440px;
  /* margin-left: auto; */
  margin-right: auto;
}

.inMoscow_body {
  /* margin-bottom: 10px; */
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;

}

.inMoscow_title {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  justify-content: flex-start;
}

.border-right {
  margin: auto 10px;
  border-bottom: 3px solid black;
  width: 190px;
}

.inMoscow_text {
  font-size: 23px;
}

.inMoscow_desc {
  padding-left: 214px;
  display: flex;
  align-items: center;
  font-size: 19px;
}

.fhod {
  align-items: flex-end;
  height: 230px;
  width: 370px;
}

.inMoscow_desc span {
  /* margin-left: 90px; */
  padding-left: 90px;
}
