.choose-room {
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 50px ;
    margin-bottom: 400px;
}

.text-line {
    width: 100%;
}

.text-cr {
    display: flex;
    font-size: 24px;
    color: #000;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding-bottom: 15px;
}

.line-cr {
    display: flex;
    width: 100%;
    border: 2px solid #000;
}